/*Forms*/
form {
    background: $gradient;
    margin: auto;
    width: 90%;
    max-width: 500px;
    padding: 3rem 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.312);
    text-align: left;
    line-height: 25px;

    .form-title {
        font-size: 1.5rem;
        margin-bottom: .5em;
    }
    .form-paragraph {
        font-weight: 400;
        color: $griss;
    }
    .form-link {
        font-weight: 400;
    }
    .form-container {
        margin-top: 1em;
        display: grid;
        gap: 1.5em;
        color: $griss;
    
        .form-group {
        position: relative;
        
            .form-label {
            color: $griss;
            }

            .checkbox {
                font-size: 5rem;
            }
        }
        button {
            color: $griss;
        }
    }
}

/*Media Queries*/
/*Tablets*/
@media only screen and (max-width: 768px) {
    body {
        .h1-t {
            font-size: 2rem;
        }
    
        form {
            width: 80%;
            max-width: 400px;
            padding: 3rem 3rem;
             margin-bottom: 3rem;
    
            .form-title {
                font-size: 1rem;
                margin-bottom: .5em;
            }
            .form-paragraph {
                font-weight: 400;
                color: $griss;
            }
            .form-link {
                font-weight: 400;
            }
            .form-container {
                margin-top: 1em;
                display: grid;
                gap: 1.2em;
                color: $griss;
        
                .form-group {
                position: relative;
            
                    form-label {
                    color: $griss;
                    }
    
                    .checkbox {
                        font-size: 5rem;
                    }
                }
                button {
                    color: $griss;
                }
            }
        }
    }
}

/*Mobile*/
@media only screen and (max-width: 576px) {
    body {
        .h1-t {
            font-size: 1.2rem;
        }
        form {
            width: 70%;
            max-width: 300px;
            padding: 2rem 2rem;
            margin-bottom: 2rem;
            
            .form-title {
                font-size: 1rem;
                margin-bottom: .5em;
            }
            .form-paragraph {
                font-weight: 300;
                font-size: .8rem;
            }
            .form-link {
                font-weight: 300;
                font-size: .8rem;
            }
            .form-container {
                margin-top: .8em;
                display: grid;
                gap: 1em;
                        
                .form-group {
                position: relative;
                font-size: .8rem;
    
                    .nombre {
                        font-size: .8rem;
                    }
                    .apellido {
                        font-size: .8rem;
                    }
                }  
                label {
                    font-size: .8rem;
                }
                .form-label {
                    font-size: .8rem;
                }
                input {
                    font-size: .8rem;
                }
    
                .olvide-pass {
                    font-size: .8rem;
                }
        
                button {
                    font-size: smaller;
                }
            }
        }
    }
}
    
