/*Tablets*/
@media only screen and (max-width: 768px) {

    /*Index*/
    .bienvenida {
        .info-content {
        grid-column: 4 / 8;
        grid-row: 4 / 8;
       
            .h3-index {
            font-size: 1.3rem;
            }
            .h1-index {
                font-size: 2.3rem;
            }
            .p-index {
                font-size: 1rem;
            }
            .btn {
                font-size: .7em;
            }
        }
    }
    /*Inicio*/
    .mainh {
        .ofertas {
        margin-top: 15px;
        padding-top: 8px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 125px;
        margin-left: 125px;
        border-radius: 1.5rem;
        border: 1px solid #E2CCE6;
        transition: all 1s;
        font-size: .8rem; 

            &:hover {
            transform: translate(-30px, -10px);
            font-weight: bold;
            border: 3px solid #E2CCE6; 
            }
        }
        .condiciones {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        font-size: .8rem; 
        }
        .h2-carousel {
        font-size: 1.2rem;
        padding: 20px; 
        }
        picture {
            h2 {
                font-size: 1.3rem;}
            }
            .set-de-espejos, .destacados {
                display: block;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 50px; 
                    img {
                    width: 200px;
                    margin-left: 50px;
                    opacity: .9;
                    border: 2px double #E2CCE6; 
                        &:hover {
                    opacity: 1;
                    border: 2px double #fffdfd; 
                    }
                }
            }
        }
    /*consejos y cuidados*/ 
    .mainc {
        .h2-c {
            font-size: 1.7rem;
            padding: 40px;
        }
        .contenedor {
            width: 90%;
            display:grid;
            grid-template-columns: 1fr;
            grid-auto-columns: 50%;
        
            .consejos {
                display: grid;
                grid-template-columns: 1fr;

                h3 {
                    font-size: 1.2rem;
                    padding-bottom: 1rem;
                }

                .consejo {
                    padding: 10px;
                }
            }

            .cuidados {
                display: grid;
                grid-template-columns: 1fr;
                padding-left: 5vw;

                h3 {
                    font-size: 1.2rem; 
                    padding-bottom: 1rem;
                }

                .cuidado {
                    padding: 10px;
                }
            }
        }
    }

    /*Preguntas frecuentes*/

    .accordion-button {
        font-size: 1rem;
    }
    .h2-pf {
        font-size: 1.7rem;
    }
}

/*Mobile*/
@media only screen and (max-width: 576px){

    /*Index*/
    .bienvenida {
        .info-content {
        grid-column: 4 / 8;
        grid-row: 4 / 8;
       
            .h3-index {
            font-size: 1rem;
            }
            .h1-index {
                font-size: 1.5rem;
            }
            .p-index {
                font-size: .8rem;
            }
            .btn {
                font-size: .6em;
            }
        }
    }
    /*Inicio*/
    .mainh {
        .ofertas {
            margin-top: 10px;
            padding-top: 6px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 80px;
            margin-left: 80px;
            border-radius: 1rem;
            border: .5px solid #E2CCE6;   
            transition: all 1s; 
            font-size: .5rem;
        }
        .condiciones {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .h2-carousel {
            font-size: .8rem;
        }
        picture {
            h2 {
                font-size: 1rem;
            }
        }
    }

    /*Preguntas frecuentes*/

    .accordion-button {
        font-size: 1rem;
    }
    .h2-pf {
        font-size: 1.2rem;
    }
}