/*Extends*/
/*Mixins*/
/*Navbar*/
.bg-verde {
  background-color: #c8ddb2;
}

.navbar-brand {
  padding-left: 50px;
}

.login {
  text-decoration: none;
  list-style: none;
}

.login .nav-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.login .nav-item a {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #E6E6E3;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  /*Index*/
}

body .h1-t {
  font-family: 'Clicker Script', cursive;
  text-align: center;
  font-size: 3em;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
}

body h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #636060;
  padding: 2rem;
}

body .bienvenida {
  height: 75vw;
  background: rgba(0, 0, 0, 0.2) url(../img/fondo.jpg);
  background-blend-mode: darken;
  background-size: cover;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

body .bienvenida .info-content {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  color: beige;
  font-family: 'Maven Pro', sans-serif;
}

body .bienvenida .info-content .h3-index {
  font-size: 1.7rem;
  font-weight: 300;
  font-family: 'Maven Pro', sans-serif;
  color: #A99EE4;
  text-shadow: 0.6px 0.6px 4px #464141;
  padding-bottom: 3px;
}

body .bienvenida .info-content .h3-index:hover {
  color: #f0ecd1;
  text-shadow: 0.6px 0.6px 4px #dbcccc;
}

body .bienvenida .info-content .h1-index {
  font-family: 'Clicker script', cursive;
  font-size: 3.5em;
  line-height: 90%;
  color: #ebe8e8;
  text-shadow: 2px 2px 4px #1f1d1d;
}

body .bienvenida .info-content .p-index {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
  color: #2c2727;
  text-shadow: .3px .3px 5px #DBE6CF;
  padding-bottom: 10px;
}

body .bienvenida .info-content .btn {
  font-size: .9em;
  font-weight: bold;
  background: none;
  color: #272525;
  padding: 8px 15px;
  border: 2px solid #A99EE4;
  border-radius: 30px;
  margin-top: 10px;
  text-decoration: none;
}

body .bienvenida .info-content .btn:hover {
  background-color: #A99EE4;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

body .bienvenida .info-content .btn {
  display: block;
  text-decoration: none;
  -webkit-animation-name: animat;
          animation-name: animat;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes animat {
  0% {
    width: 9vw;
  }
  25% {
    width: 28vw;
  }
  50% {
    width: 9vw;
  }
  75% {
    width: 28vw;
  }
  100% {
    width: 9vw;
  }
}

@keyframes animat {
  0% {
    width: 9vw;
  }
  25% {
    width: 28vw;
  }
  50% {
    width: 9vw;
  }
  75% {
    width: 28vw;
  }
  100% {
    width: 9vw;
  }
}

/*Inicio*/
.mainh .ofertas {
  font-family: 'Maven Pro', sans-serif;
  background: #f0ecd1;
  background: -webkit-gradient(linear, left top, right top, from(#f0ecd1), color-stop(48%, #e2cce6), to(#d0cce6));
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
  -webkit-box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.312);
          box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.312);
  margin-top: 20px;
  padding-top: 10px;
  margin-right: 150px;
  margin-left: 150px;
  border-radius: 2rem;
  border: 1px solid #E2CCE6;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.mainh .ofertas:hover {
  -webkit-transform: translate(-30px, -10px);
          transform: translate(-30px, -10px);
  font-weight: bold;
  border: 4px solid #E2CCE6;
}

.mainh .ofertas .condiciones {
  font-family: 'Maven Pro', sans-serif;
  color: #636060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainh .h2-carousel {
  font-size: 1.5em;
  padding: 20px;
}

.mainh .container-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainh .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainh picture .set-de-espejos, .mainh picture .destacados {
  font-family: 'Maven Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.mainh picture .set-de-espejos img, .mainh picture .destacados img {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .9;
  border: 2px double #E2CCE6;
}

.mainh picture .set-de-espejos img:hover, .mainh picture .destacados img:hover {
  opacity: 1;
  border: 2px double #fffdfd;
}

.mainh picture .destacados {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainh picture .destacados img {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: .9;
  border: 2px double #E2CCE6;
}

.mainh picture .destacados img:hover {
  opacity: 1;
  border: 2px double #fffdfd;
}

/*Productos*/
.main-prod {
  background-color: #E6E6E3;
}

.main-prod .img-container {
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 10em;
}

/*consejos y cuidados*/
.mainc {
  padding-top: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  margin: auto;
}

.mainc .h2-c {
  font-family: 'Maven Pro', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #636060;
  padding: 40px;
}

.mainc .contenedor {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.mainc .contenedor .consejos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.mainc .contenedor .consejos h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #636060;
  padding-bottom: 1rem;
}

.mainc .contenedor .consejos .consejo {
  padding: 10px;
}

.mainc .contenedor .cuidados {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-left: 5vw;
}

.mainc .contenedor .cuidados h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #636060;
  padding-bottom: 1rem;
}

.mainc .contenedor .cuidados .cuidado {
  padding: 10px;
}

/*preguntas frecuentes*/
.main-pf {
  margin: 3em;
}

.accordion {
  -webkit-box-shadow: 0 4px 60px -5px rgba(0, 0, 0, 0.312);
          box-shadow: 0 4px 60px -5px rgba(0, 0, 0, 0.312);
}

.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1.2rem;
  color: #636060;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-style: bolder;
  background: -webkit-gradient(linear, left top, right top, from(#f0ecd1), color-stop(48%, #e2cce6), to(#d0cce6));
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
  border: 1px;
  border-radius: 30px;
  overflow-anchor: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
}

.accordion-header {
  background: -webkit-gradient(linear, left top, right top, from(#f0ecd1), color-stop(48%, #e2cce6), to(#d0cce6));
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
}

.accordion-body {
  margin-left: 3rem;
  margin-right: 10rem;
  color: #636060;
}

.accordion-collapse {
  background: -webkit-gradient(linear, left top, right top, from(#f0ecd1), color-stop(48%, #e2cce6), to(#d0cce6));
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
}

/*Imports*/
.pie-pagina {
  width: 100%;
  background-color: #c8ddb2;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box img {
  width: 200px;
}

.pie-pagina .grupo-1 .box .h2-f {
  color: #636060;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.pie-pagina .grupo-1 .box .p-f {
  color: #636060;
  margin-bottom: 10px;
  font-size: 1rem;
}

.pie-pagina .grupo-1 .red-social {
  text-align: center;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  line-height: 45px;
  color: #636060;
  margin-right: 10px;
  background-color: #E6E6E3;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #d3a0dd;
}

.pie-pagina .grupo-2 {
  background-color: #E6E6E3;
  padding: 15px 10px;
  text-align: center;
  color: #636060;
}

.pie-pagina .grupo-2 small {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 140px;
  }
  .pie-pagina .grupo-1 .box .h2-f {
    font-size: 1rem;
  }
  .pie-pagina .grupo-1 .box .p-f {
    color: #636060;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  .pie-pagina .grupo-2 {
    padding: 12px 8px;
    text-align: center;
  }
  .pie-pagina .grupo-2 small {
    font-size: .8rem;
  }
}

@media screen and (max-width: 576px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 25px 0px;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 90px;
  }
  .pie-pagina .grupo-1 .box .h2-f {
    color: #636060;
    margin-bottom: 25px;
    font-size: 1rem;
  }
  .pie-pagina .grupo-1 .box .p-f {
    color: #636060;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  .pie-pagina .grupo-2 {
    padding: 12px 8px;
    text-align: center;
  }
  .pie-pagina .grupo-2 small {
    font-size: .8rem;
  }
}

/*Forms*/
form {
  background: -webkit-gradient(linear, left top, right top, from(#f0ecd1), color-stop(48%, #e2cce6), to(#d0cce6));
  background: linear-gradient(90deg, #f0ecd1 0%, #e2cce6 48%, #d0cce6 100%);
  margin: auto;
  width: 90%;
  max-width: 500px;
  padding: 3rem 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.312);
          box-shadow: 0 5px 80px -5px rgba(0, 0, 0, 0.312);
  text-align: left;
  line-height: 25px;
}

form .form-title {
  font-size: 1.5rem;
  margin-bottom: .5em;
}

form .form-paragraph {
  font-weight: 400;
  color: #636060;
}

form .form-link {
  font-weight: 400;
}

form .form-container {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  gap: 1.5em;
  color: #636060;
}

form .form-container .form-group {
  position: relative;
}

form .form-container .form-group .form-label {
  color: #636060;
}

form .form-container .form-group .checkbox {
  font-size: 5rem;
}

form .form-container button {
  color: #636060;
}

/*Media Queries*/
/*Tablets*/
@media only screen and (max-width: 768px) {
  body .h1-t {
    font-size: 2rem;
  }
  body form {
    width: 80%;
    max-width: 400px;
    padding: 3rem 3rem;
    margin-bottom: 3rem;
  }
  body form .form-title {
    font-size: 1rem;
    margin-bottom: .5em;
  }
  body form .form-paragraph {
    font-weight: 400;
    color: #636060;
  }
  body form .form-link {
    font-weight: 400;
  }
  body form .form-container {
    margin-top: 1em;
    display: -ms-grid;
    display: grid;
    gap: 1.2em;
    color: #636060;
  }
  body form .form-container .form-group {
    position: relative;
  }
  body form .form-container .form-group form-label {
    color: #636060;
  }
  body form .form-container .form-group .checkbox {
    font-size: 5rem;
  }
  body form .form-container button {
    color: #636060;
  }
}

/*Mobile*/
@media only screen and (max-width: 576px) {
  body .h1-t {
    font-size: 1.2rem;
  }
  body form {
    width: 70%;
    max-width: 300px;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
  }
  body form .form-title {
    font-size: 1rem;
    margin-bottom: .5em;
  }
  body form .form-paragraph {
    font-weight: 300;
    font-size: .8rem;
  }
  body form .form-link {
    font-weight: 300;
    font-size: .8rem;
  }
  body form .form-container {
    margin-top: .8em;
    display: -ms-grid;
    display: grid;
    gap: 1em;
  }
  body form .form-container .form-group {
    position: relative;
    font-size: .8rem;
  }
  body form .form-container .form-group .nombre {
    font-size: .8rem;
  }
  body form .form-container .form-group .apellido {
    font-size: .8rem;
  }
  body form .form-container label {
    font-size: .8rem;
  }
  body form .form-container .form-label {
    font-size: .8rem;
  }
  body form .form-container input {
    font-size: .8rem;
  }
  body form .form-container .olvide-pass {
    font-size: .8rem;
  }
  body form .form-container button {
    font-size: smaller;
  }
}

/*Tablets*/
@media only screen and (max-width: 768px) {
  /*Index*/
  .bienvenida .info-content {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4 / 8;
  }
  .bienvenida .info-content .h3-index {
    font-size: 1.3rem;
  }
  .bienvenida .info-content .h1-index {
    font-size: 2.3rem;
  }
  .bienvenida .info-content .p-index {
    font-size: 1rem;
  }
  .bienvenida .info-content .btn {
    font-size: .7em;
  }
  /*Inicio*/
  .mainh .ofertas {
    margin-top: 15px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 125px;
    margin-left: 125px;
    border-radius: 1.5rem;
    border: 1px solid #E2CCE6;
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: .8rem;
  }
  .mainh .ofertas:hover {
    -webkit-transform: translate(-30px, -10px);
            transform: translate(-30px, -10px);
    font-weight: bold;
    border: 3px solid #E2CCE6;
  }
  .mainh .condiciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: .8rem;
  }
  .mainh .h2-carousel {
    font-size: 1.2rem;
    padding: 20px;
  }
  .mainh picture h2 {
    font-size: 1.3rem;
  }
  .mainh .set-de-espejos, .mainh picture .destacados, .mainh .destacados {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .mainh .set-de-espejos img, .mainh picture .destacados img, .mainh .destacados img {
    width: 200px;
    margin-left: 50px;
    opacity: .9;
    border: 2px double #E2CCE6;
  }
  .mainh .set-de-espejos img:hover, .mainh picture .destacados img:hover, .mainh .destacados img:hover {
    opacity: 1;
    border: 2px double #fffdfd;
  }
  /*consejos y cuidados*/
  .mainc .h2-c {
    font-size: 1.7rem;
    padding: 40px;
  }
  .mainc .contenedor {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-columns: 50%;
  }
  .mainc .contenedor .consejos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mainc .contenedor .consejos h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .mainc .contenedor .consejos .consejo {
    padding: 10px;
  }
  .mainc .contenedor .cuidados {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-left: 5vw;
  }
  .mainc .contenedor .cuidados h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .mainc .contenedor .cuidados .cuidado {
    padding: 10px;
  }
  /*Preguntas frecuentes*/
  .accordion-button {
    font-size: 1rem;
  }
  .h2-pf {
    font-size: 1.7rem;
  }
}

/*Mobile*/
@media only screen and (max-width: 576px) {
  /*Index*/
  .bienvenida .info-content {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4 / 8;
  }
  .bienvenida .info-content .h3-index {
    font-size: 1rem;
  }
  .bienvenida .info-content .h1-index {
    font-size: 1.5rem;
  }
  .bienvenida .info-content .p-index {
    font-size: .8rem;
  }
  .bienvenida .info-content .btn {
    font-size: .6em;
  }
  /*Inicio*/
  .mainh .ofertas {
    margin-top: 10px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 1rem;
    border: .5px solid #E2CCE6;
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: .5rem;
  }
  .mainh .condiciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mainh .h2-carousel {
    font-size: .8rem;
  }
  .mainh picture h2 {
    font-size: 1rem;
  }
  /*Preguntas frecuentes*/
  .accordion-button {
    font-size: 1rem;
  }
  .h2-pf {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=estilo.css.map */